@{
    ViewBag.Title = "Contact us";
}
<h2>Contact us</h2>

<address>
    Scooterki<br />
    ul.Jana z kolana 3<br />
    00-007 Cloud </br>
    <abbr title="Phone">P:</abbr>
    192 168 256
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:yoboi@microsyf.bruh">yoboi@microsyf.bruh</a><br />
</address>